.product-hero {
  height: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.media video {
  width: 500px;
  position: sticky;
  top: 20%;
}

.info {
  max-width: 400px;
}
